.container {
    margin-left: 10%;
}

.navbar {
    width: 100%
}

i {
    margin-top: .4rem;
    font-size: 1.5rem;
}

.boton{
    border: none;
    background-color: #c02137 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 40px;
    width: 200px;
}