<app-bitacora-ultrasonido *ngIf="servicios == 'ultrasonido'"></app-bitacora-ultrasonido>
<app-regresos-lab *ngIf="servicios == 'laboratorio'"></app-regresos-lab>
<app-bitacora-rayos-x *ngIf="servicios == 'xray'"></app-bitacora-rayos-x>