.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 2em;
}

#tabla {
    margin-top: 10px;
}

.card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 80px;
    width: 90%;
    overflow-x: 60px;
    max-width: 90%;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
}


/* .cardd {
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
} */


/* .card::-webkit-scrollbar {
    width: 0;
} */


/* .principalButton {
    margin-left: 58%;
    padding: 0.5rem;
} */


/* .btn-danger {
        border-radius: 30px;
    } */