.container-fluid {
    height: 30rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.fa,
.fas {
    text-align: center;
    margin-left: 8%;
}

.card {
    box-shadow: 3px 3px 10px gray;
}

#busquedaPaciente{
    border-radius: .9em !important;
    box-shadow: 3px 3px 10px gray;
}

.centerxd {
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    color: #686A8F;
    font-style: italic;
    margin-left: 25px;
}

.boton_contra2 {
    border-radius: 3em !important;
    width: 9em !important;
    background-color: #007cc3;
    border-color: #007cc3;
}

.boton_contra3 {
    border-radius: 3em !important;
    width: 9em !important;
    height: 1em !important;
    margin-left: -100px !important;
    font-weight: bolder;
    font-size: 1.2rem;
    /*background-color: #007cc3;
    border-color: #007cc3; */
} 

a>i {
    color: #686A8F;
    font-size: 18px
}

#ver:hover {
    color: #c02137;
}

a {
    cursor: pointer;
}

.header {
    background-color: #c02137;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.table {
    /* // position: fixed; */
    overflow: scroll;
}

.pagination {
    margin-top: 5%;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 2.3rem;
}

/* .btn,
.btn-info {
    width: 28%;
    margin-left: 2%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    height: auto;
    margin-bottom: 1%;
} */

.search-paciente {
    display: inline-block;
    width: 70%;
    font-weight: 400;
    font-size: 1rem;
}

@media(max-width:575px) {}

@media (min-width: 576px) and (max-width:767px) {}

@media (min-width: 768px) and (max-width:991px) {}

@media (min-width: 992px) and (max-width:1199px) {}

@media (min-width: 1200px) {}