.centerxd {
    max-width: 10rem;
    align-items: center;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.card{
    box-shadow: 3px 3px 10px #686A8F;
    height: 200px;
    border-radius: 30px;
}

ngx-dropzone{
    border-radius: 30px;
    align-items: center;
    border: none;
}

.btn {
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #007cc3;
    border-color: #007cc3;
}

select{
    border-radius: 20px;
    width: 70%;
    height: 35px;
    border: none;
    box-shadow: 3px 3px 10px gray;
    font-size: 1rem;
    margin-left: 10px;
    margin-bottom: 15px;
}

.switch{
  position: relative;
  width: 60px;
  height: 23px;
  display: inline-block;
}
.switch input{
  display: none;
}
.switch span{
  position: absolute;
  background-color: #EEEEEE;
  border-radius: 100px;
  box-shadow: 0 0px 20px #eeeeee;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.switch span::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #aaa;
  top: 4px;
  left: 5px;
  transition: .8s;
}
.switch span::after{
  content: "No";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #aaa;
}
.switch input:checked + span{
  background-color: #00BBF1;
  box-shadow: 0 0px 20px #00BBF1cc;
}
.switch input:checked + span::before{
  transform: translateX(35px);
  background-color: #fff;
}
.switch input:checked + span::after{
  content: "Si";
  color:white;
}