.der {
    float: right;
    margin-top: -3rem;
    margin-right: 1.5rem;
}

.derxd {
    display: flex;
    justify-content: stretch;
}

.header {
    color: white;
}

.txtNotasEnfermeria {
    width: 100%;
}

.btn {
    background-color: var(--button-principal);
    border-radius: .9rem;
    width: 100%;
    border-color: transparent !important;
}

.btn-secondary {
    background-color: var(--button-secondary);
}

.message-antecedentes {
    padding-top: 2rem;
}

.card {
    padding-bottom: 1.2rem;
}

.form-check-inline {
    width: 100%;
}

.resultados {
    width: 83% !important;
    max-width: 90% !important;
    margin-left: 7% !important;
}


/* .signos-vitales { */


/* position: fixed; */


/* // padding: 5rem; */


/* } */

input {
    margin-left: 1rem;
}

label {
    margin-left: .5rem;
}

input:last-of-type {
    width: 5rem;
    border-radius: 10px;
    border: 1px solid #00BBF1;
    text-align: center;
}

.xd {
    margin-top: 2rem;
}

.antecedentes-inputs {
    width: 6rem;
    border-radius: 10px;
    border: 1px solid #00BBF1;
    margin-bottom: .79rem;
}

.antecedentes-inputs:last-of-type {
    width: 6rem;
}

.center,
h3 {
    text-align: center;
}


/* // Tamaño modal Signos Vitales */

.modal-XL {
    width: 1200px;
    margin: 0 0 0 -9rem;
}


/* // .margen-input,
// input {
//     margin-right: 2rem;
// } */

.sv-inputs {
    width: 6rem;
    border-radius: 10px;
    border: 1px solid #00BBF1;
    margin-left: 2rem;
}

.espacio-cols {
    margin-left: 2rem;
    text-align: center;
}

.espacio-cols:first-of-type {
    margin-left: 1px;
    ;
}

.modalNutricion {
    width: 1100px;
    margin-left: -9rem;
}

.esp-nutricion,
input {
    margin-left: 1rem;
    margin-bottom: 6;
}

.wer {
    margin-bottom: 2.2rem;
}

.wer:last-of-type {
    /* // margin-top: -1rem; */
    margin-bottom: .2rem;
}

.btn-primary {
    margin-right: 5rem;
}


/* // Parrafos Enfermeria */

.parrafos-enf {
    margin-top: 2rem;
}

.parrafos-enf:first-of-type {
    margin-top: -6px;
}

.modal-ext {
    width: 1000px;
}

.abajo-dosis {
    margin-bottom: 1.2rem;
}

.margen-offset {
    margin-right: 2rem;
}

.margen-offset-2 {
    margin-left: 2rem;
}

.margen-offset-2:first-of-type {
    margin-left: .1rem;
}

.centerxdd {
    text-align: center;
    margin-right: 16px;
}

.input-pegado {
    margin-left: 1px;
}


/* // .topsxd {
//     margin-top: 2.2rem;
//     margin-left: 1rem;
// } */

.topsxdd,
p:last-of-type {
    margin-top: 5px;
}

.topsxd,
p {
    margin-top: 1.5rem;
    margin-left: 1rem;
}


/* // .modal-grande {
//     width: 1100px;
// }

// Mujeres */

.mujeresSelect {
    max-width: 20rem;
    margin-left: 3rem;
}

.mujeresxd {
    display: block;
    align-items: flex-end;
}

.mjizq {
    margin-left: -1.9rem;
}

.f-izq {
    width: 500px;
    margin-left: 2rem;
}

.f-der {
    /* // border: 4px solid blue; */
    float: right;
    width: 520px;
    margin-top: -40rem;
}

.modal-ago {
    width: 900px;
}


/* // .tabla-sv {
//     margin-left: 2rem;
// } */

.signos-mujeres {
    margin-right: 2rem;
}

.textarea {
    margin-left: 1.2rem;
    width: 60rem;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid #00BBF1;
}

.textarea,
h5 {
    margin-left: 1.2rem;
}

.disp {
    display: inline;
}

.ggg {
    width: 1100px;
    /* margin-right: -57rem; */
    margin-left: -5rem;
}

.superXL {
    width: 1360px;
    margin-left: -17rem;
}

.tableIzq {
    margin-left: -8rem;
}

.btn-izq {
    margin-top: 25px;
    margin-left: 8px;
}

.muf {
    float: right;
    margin-left: -1rem;
}

.contenedor-graficas {
    border: 1px solid red;
}

.diagnosticoPrevio {
    margin-top: 3rem;
    margin-left: -21rem;
}