.centerxd {
    max-width: 10rem;
    align-items: center;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.card{
    box-shadow: 3px 3px 10px #686A8F;
    height: 200px;
    border-radius: 30px;
}

ngx-dropzone{
    border-radius: 30px;
    align-items: center;
    border: none;
}

.btn {
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #007cc3;
    border-color: #007cc3;
}

