<div class="container-fluid">
    <app-titulos [title]="'BITACORA DE REACCIONES ADVERSAS'" [rol]="'pacientes'"></app-titulos>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" [(ngModel)]="filtropacientes" class="form-control" id="busquedaPaciente" (keyup)="typeSearchPatients()" style="margin-left: 25px; max-width:50em">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card" style="border-radius: 30px; margin-left: 25px;">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-1 text_header">
                            <p>#</p>
                        </div>
                        <div class="col-md-4 text_header">
                            <p>Nombre</p>
                        </div>
                        <div class="col text_header">
                            <p>ID</p>
                        </div>
                        <div class="col text_header">
                            <p>Género</p>
                        </div>
                        <div class="col-md-1 text_header">
                            <p>Edad</p>
                        </div>
                        <div class="col text_header">
                            <p>Servicios</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let receptor of pedidos | paginate:{id:'listapacientes',
                                                              itemsPerPage: 5,
                                                              currentPage:pagina,
                                                              totalItems:totalPedidos}; let i = index">
                        <div class="row pointer" [routerLink]="['/reacciones/adversas/' ,receptor._id]">
                            <div class="col-md-1" style="text-align: center;">
                                <p>
                                    {{i+1}}
                                </p>
                            </div>
                            <div class="col-md-4" style="text-align: center;">
                                <p>
                                    {{ receptor.paciente.nombrePaciente | uppercase }} {{ receptor.paciente.apellidoPaterno | uppercase }} {{ receptor.paciente.apellidoMaterno | uppercase }} <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{receptor.proceso_censur | uppercase}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ receptor.paciente.genero }}<br>
                                </p>
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                <p>
                                    {{ receptor.paciente.edad }} <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <a>
                                                <i class="fa fa-eye eyeS puntero" id="ver"></i>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="pedidos == []">
                        <p>
                            Aún no hay pedidos
                        </p>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="listapacientes" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listapacientes" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#c02137" type = "ball-scale-ripple-multiple" [fullScreen] = "true">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>