.boton_contra2 {
    border-radius: 3em !important;
    width: 9em !important;
    background-color: #007cc3;
    border-color: #007cc3;
}

#busquedaPaciente{

    border-radius: 0.9em !important;
    box-shadow: 3px 3px 10px grey;
}

.container-fluid {
    height: 30rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.card{
    box-shadow: 3px 3px 10px grey;

}

.texto-error-center{
    text-align: center;
    margin-top: 2%;
}