<div class="scrollmenu">
    <a class="pointer" [routerLink]="module.modules.route" routerLinkActive="router-link-active"  *ngFor="let module of modules">
        <!-- <i class="fas fa-edit"></i> -->
        <!-- <i class="fas fa-user-md"></i> -->
        <img [src]="module.modules.icon" id="img2" [routerLink]="module.modules.route">
        <span>{{ module.modules.nameModule | uppercase}}</span>
    </a>
</div>