div.scrollmenu {
    background-color: #c02137;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
}

div.scrollmenu a {
    display: inline-block;
    color: #C3C3C3;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-left: 55px;
}

div.scrollmenu a:hover {
    color: white;
    filter:  brightness(0) invert(1);
}

/* ::-webkit-scrollbar {
    display: none;
} */

.router-link-active{ 
    font-weight: bold;
    color: white !important; 
    filter:  brightness(0) invert(1);
}

span{
    margin-left: 5px;
}

img{
    height: 30px;
    width: 30px; 
    filter: invert(25%) sepia(1%) saturate(3142%) hue-rotate(130deg) brightness(95%) contrast(82%);
}